<div class="contacts">
    <div class="container">
        <div class="contacts__block">
            <div class="contacts-title title">Контакты</div>
            <div class="contacts__main">
                <div class="contacts__text">
                    <div class="contacts__text-item">
                        г. Москва, ул. Антона-Овсеенко, 15, стр. 3
                    </div>
                    <div class="contacts__text-item">
                        8 499 110-60-70 <br />Пн-Пт - 09:00 - 19:00 (время Московское)
                    </div>
                    <div class="contacts__text-item">andreevka@delaem24.ru</div>
                </div>
                <div class="contacts__form">
                    <div class="form__item">
                        <input class="form__input" type="text" placeholder="Имя" />
                    </div>
                    <div class="form__item">
                        <input class="form__input" type="text" placeholder="Телефон" />
                    </div>
                    <div class="form__item">
                        <input class="form__input" type="text" placeholder="E-mail" />
                    </div>

                    <div class="form__item">
                        <textarea
                            class="form__input"
                            name="comment"
                            id=""
                            placeholder="Ваш комментарий"
                        ></textarea>
                    </div>
                </div>
            </div>
            <div class="contacts__bottom">
                <div class="contacts__bottom-text">
                    Вы можете задать любые вопросы с помощью Whats App и мы ответим при первой
                    вохможности
                </div>
                <button class="contacts__bottom-btn btn" type="submit">
                    <span>Оставить заявку</span>
                </button>
            </div>
        </div>
    </div>
</div>
