<div class="header__multipage">
    <div class="container">
        <div class="header__top">
            <div class="header__logo">
                <a class="logo" href="../index.html">
                    <div class="logo-name">Andreevka.land</div>
                    <div class="logo-desc">проект Бизнес Групп</div>
                </a>
            </div>
            <nav class="header__nav">
                <ul class="list__items">
                    <li class="list__item">
                        <a class="list__item-link" href="../index.html">Главная</a>
                    </li>
                    <li class="list__item">
                        <a class="list__item-link" href="../index.html#about">О нас</a>
                    </li>
                    <li class="list__item">
                        <a class="list__item-link" href="./areas.html">Участки</a>
                    </li>
                    <li class="list__item">
                        <a class="list__item-link" href="../index.html#places">Места</a>
                    </li>
                    <li class="list__item">
                        <a class="list__item-link" href="../index.html#infrastructure"
                            >Инфраструктура</a
                        >
                    </li>
                    <li class="list__item">
                        <a class="list__item-link" href="./contacts.html">Контакты</a>
                    </li>
                    <li class="list__item">
                        <a class="list__item-link" href="./partners.html">Партнерам</a>
                    </li>
                </ul>
            </nav>
            <div class="header__menu-mobile">
                <div class="header__menu-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>
