<div class="areas__column">
    <div class="areas__item">
        <div class="areas__item-top">
            <div class="areas__item-img">
                <img src="./images/sites/1-01.jpg" alt="" />
                <div class="img-shadow"></div>
            </div>
            <div class="areas__card-name">
                <div class="card-name">
                    <div class="card-title">Участок</div>
                    <div class="card-number"><span>№</span>25:20:030401:50</div>
                </div>
            </div>
            <div class="areas__item-desc">
                Земельный участок 20 соток под ИЖС в живописном и экологически чистом районе
                Приморского края.
            </div>
        </div>

        <div class="areas__item-bottom">
            <div class="areas__item-price">1 800 000 рублей</div>
            <div class="areas__item-btn btn">
                <span>Подробнее</span>
            </div>
        </div>
    </div>
</div>
