<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/index.min.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="overlay"></div>
            <%- include("components/header.ejs") -%>
            <div class="law">
                <div class="container">
                    <div class="law__block">
                        <div class="law-title title">Юридическая информация</div>
                        <div class="law-subtitle">СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</div>
                        <div class="law__text">
                            <p>
                                Пользователь, нажимая кнопки «Подать заявку онлайн» или «Купить»
                                обязуется принять настоящее согласие на обработку персональных
                                данных (далее — Согласие). Принятием (акцептом) оферты Согласия
                                является отправка формы заказа обратного звонка на интернет-сайте.
                                Пользователь дает свое согласие ООО «Бизнес Групп» (ИНН 7719440229,
                                ОГРН 1167746228781), которому принадлежит сайт andreevka.land.ru и
                                которое расположено по адресу: Российская Федерация, 123317, город
                                Москва, улица Антона-Овсеенко, 15 стр.3, на обработку своих
                                персональных данных со следующими условиями:
                            </p>
                            <br />
                            <p>
                                Согласие дается на обработку персональных данных, как без
                                использования средств автоматизации, так и с их использованием.
                            </p>
                            <br />
                            <p>
                                Фамилия, имя, отчество;<br />
                                Адреса электронных почт(email);<br />
                                Контактный телефон. <br />Цель обработки персональных данных:
                                получение сводной информации о пользователях сайта в маркетинговых
                                целях и исполнение договорных обязательств перед клиентами,
                                контрагентами и иными субъектами персональных данных.
                            </p>
                            <br />
                            <p>
                                Перечень действий с персональными данными, на совершение которых
                                дается мое согласие, общее описание используемых Оператором способов
                                обработки в соответствии с п. 3 ст. 3 Федерального закона от
                                27.07.2006 г.№152-ФЗ «О персональных данных». В ходе обработки с
                                персональными данными будут совершены следующие действия: сбор;
                                запись; систематизация; накопление; хранение; уточнение (обновление,
                                изменение); использование; обезличивание; удаление; уничтожение
                            </p>
                            <br />
                            <p>
                                Согласие дается, в том числе на возможные информационные (рекламные)
                                оповещения (в т. ч. осуществления информационных рассылок, рассылок
                                о маркетинговых мероприятиях, специальных предложениях и акциях
                                посредством SMS и e-mail).
                            </p>
                            <br />
                            <p>
                                Передача персональных данных третьим лицам осуществляется на
                                основании законодательства Российской Федерации, договора с участием
                                субъекта персональных данных или согласия субъекта персональных
                                данных. Я даю свое согласие на возможную передачу своих персональных
                                данных третьим лицам.
                            </p>
                            <br />
                            <p>
                                Согласие действует с момента заполнения формы обратной связи на
                                Сайте, срок его действия неограничен. Данное согласие может быть
                                отозвано по моему письменному заявлению, направленному ООО «Бизнес
                                Групп» или его представителю по адресу, указанному в начале
                                Согласия.
                            </p>
                            <br />
                            <p>
                                Я подтверждаю, что, давая такое согласие, я действую по собственной
                                воле и в своих интересах.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <%- include("components/footer.ejs") -%>
        </div>
        <script src="./js/index.min.js"></script>
    </body>
</html>
