<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="css/index.min.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="wrapper">
            <div class="overlay"></div>
            <%- include("components/header.ejs") -%>
            <div class="partners">
                <div class="container">
                    <div class="partners__block">
                        <div class="partners-title title">Пратнерам</div>
                        <div class="partners__items">
                            <div class="partners__item">
                                <div class="partners__item-img">
                                    <img src="./images/templates/partners/01.jpg" alt="" />
                                    <div class="img-shadow"></div>
                                </div>
                                <div class="partners__item-text">
                                    <div class="partners__item-title">
                                        Застройщикам и девелоперам
                                    </div>
                                    <div class="partners__item-desc">
                                        Компания Бизнес Групп предлагает к продаже участки под ИЖС в
                                        живописном и экологически чистом районе Приморского края.
                                        Участки расположены по адресу: Приморский край, Хасанский
                                        р-н, с. Андреевка, вблизи ул. Набережная. <br />Вдали от
                                        шумных дорог и городской суеты. Категория земель: земли
                                        населенных пунктов, вид использования - под ИЖС. Вдали от
                                        шумных дорог и городской суеты. Категория земель: земли
                                        населенных пунктов, вид использования - под ИЖС.
                                    </div>
                                    <div class="partners__item-tags">
                                        <div class="partners__item-tag">
                                            <div class="partners__item-tag--img">
                                                <img
                                                    src="./images/templates/partners/svg/01-01.svg"
                                                    alt=""
                                                />
                                            </div>
                                            <span>Многоэтажное</span>
                                        </div>
                                        <div class="partners__item-tag">
                                            <div class="partners__item-tag--img">
                                                <img
                                                    src="./images/templates/partners/svg/01-02.svg"
                                                    alt=""
                                                />
                                            </div>
                                            <span>Малоэтажное</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="partners__item">
                                <div class="partners__item-img">
                                    <img src="./images/templates/partners/02.jpg" alt="" />
                                    <div class="img-shadow"></div>
                                </div>
                                <div class="partners__item-text">
                                    <div class="partners__item-title">
                                        Сельскохозяйственный бизнес
                                    </div>
                                    <div class="partners__item-desc">
                                        Компания Бизнес Групп предлагает к продаже участки под ИЖС в
                                        живописном и экологически чистом районе Приморского края.
                                        Участки расположены по адресу: Приморский край, Хасанский
                                        р-н, с. Андреевка, вблизи ул. Набережная. <br />
                                        Вдали от шумных дорог и городской суеты. Категория земель:
                                        земли населенных пунктов, вид использования - под ИЖС. Вдали
                                        от шумных дорог и городской суеты. Категория земель: земли
                                        населенных пунктов, вид использования - под ИЖС.
                                    </div>
                                    <div class="partners__item-tags">
                                        <div class="partners__item-tag">
                                            <div class="partners__item-tag--img">
                                                <img
                                                    src="./images/templates/partners/svg/02-01.svg"
                                                    alt=""
                                                />
                                            </div>
                                            <span>Посевные земли</span>
                                        </div>
                                        <div class="partners__item-tag">
                                            <div class="partners__item-tag--img">
                                                <img
                                                    src="./images/templates/partners/svg/02-02.svg"
                                                    alt=""
                                                />
                                            </div>
                                            <span>Разведение животных</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="partners__item">
                                <div class="partners__item-img">
                                    <img src="./images/templates/partners/03.jpg" alt="" />
                                    <div class="img-shadow"></div>
                                </div>
                                <div class="partners__item-text">
                                    <div class="partners__item-title">Туристический бизнес</div>
                                    <div class="partners__item-desc">
                                        Компания Бизнес Групп предлагает к продаже участки под ИЖС в
                                        живописном и экологически чистом районе Приморского края.
                                        Участки расположены по адресу: Приморский край, Хасанский
                                        р-н, с. Андреевка, вблизи ул. Набережная. <br />Вдали от
                                        шумных дорог и городской суеты. Категория земель: земли
                                        населенных пунктов, вид использования - под ИЖС. Вдали от
                                        шумных дорог и городской суеты. Категория земель: земли
                                        населенных пунктов, вид использования - под ИЖС.
                                    </div>
                                    <div class="partners__item-tags">
                                        <div class="partners__item-tag">
                                            <div class="partners__item-tag--img">
                                                <img
                                                    src="./images/templates/partners/svg/03-01.svg"
                                                    alt=""
                                                />
                                            </div>
                                            <span>Базы отдыха</span>
                                        </div>
                                        <div class="partners__item-tag">
                                            <div class="partners__item-tag--img">
                                                <img
                                                    src="./images/templates/partners/svg/03-02.svg"
                                                    alt=""
                                                />
                                            </div>
                                            <span>Глэмпинг</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%- include("components/contacts.ejs") -%> <%-include("components/footer.ejs") -%>
        </div>
        <script src="./js/index.min.js"></script>
    </body>
</html>
